<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Only</title>
</head>
<body>
    <h1>All listings</h1>
    
    <%for(listing of allListings){ %>
       
           <li>
              <a href="/listing/<%= listing._id %>"> <%= listing.title %> </a> 
           </li>
       
    <% } %>

</body>
</html>