<%- layout('./layouts/boilerplate') %>

    <body>
        
        <div class="row mb-3 mt-3 ">
            <div class="col-8 offset-2">
                <h2>Create New Listing</h2>

                <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input name="list[title]" id="title" type="text" placeholder="Add a Catchy Title" required class="form-control">
                        <div class="invalid-feedback">Title should be Valid</div>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="list[description]" id="description" type="text"  placeholder="Enter Description"
                            class="form-control"></textarea>
                            <div class="invalid-feedback">Enter a short Description</div>
                    </div>

                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Image Url</label>
                        <textarea name="list[image]" id="image" type="text" placeholder="Image.." class="form-control" ></textarea>
                    </div> -->
                    
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image:</label>
                        <input type="file" name="list[image]" id="image" class="form-control"/>
                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-5">
                            <label for="price" class="form-label">Price: </label>
                            <input name="list[price]" id="price" placeholder="Ex.1200" required class="form-control">
                            <div class="invalid-feedback">Price should be Valid</div>
                        </div>
    
                        <div class="mb-3 col-md-7">
                            <label for="location" class="form-label">Location: </label>
                            <input name="list[location]" id="location" type="text" placeholder="Ex.Masuri" required class="form-control">
                            <div class="invalid-feedback">Location should be Valid</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country: </label>
                        <input name="list[country]" id="country" type="text" placeholder="Ex.India" required class="form-control">
                        <div class="invalid-feedback">Country should be Valid</div>
                    </div>

                    <button type="submit" class="btn add-btn">Submit</button>
                </form>
            </div>
        </div>

    </body>