<% layout('/layouts/boilerplate.ejs') -%>

    <body>


        <div class="row">

            <div class=" col-8 offset-2">
                <h1>Create a New Listing</h1>
                <form method="post" action="/listings" class="form-control needs-validation" novalidate>

                    <div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="title" class="form-control" name="listing[title]" placeholder="A Catchy Title" required>
                            <div class="invalid-feedback">
                                Please Enter a Title
                              </div>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="listing[description]" placeholder="Description"
                                class="form-control" required></textarea>
                                <div class="invalid-feedback">
                                    Please Enter Description
                                  </div>
                                
                        </div>

                        <div class="row mb-3">

                            <div class="col-md-5">
                                <label for="image" class="form-label">Image</label>
                                <input type="text" name="listing[image][filename]" placeholder="Image Place"
                                    class="form-control">
                            </div>


                            <div class="col-md-7">
                                <label for="URL" class="form-label">URL</label>
                                <input type="text" name="listing[image][url]" placeholder="Image link/URL"
                                    class="form-control">
                            </div>

                        </div>

                        <div class="row mb-4">
                            <div class="col-4">
                                <label for="Price" class="form-label">Price</label>
                                <input type="number" name="listing[price]" placeholder="ex.1200" class="form-control" required>
                                <div class="invalid-feedback">
                                    Needed!
                                  </div>
                            </div>
    
                            <div class=" col-8">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" name="listing[country]" placeholder="ex.India" class="form-control" required>
                                <div class="invalid-feedback">
                                    Needed!
                                  </div>
                            </div>
                        </div>
                        


                        <div class="mb-3">

                            <label for="location" class="form-label">Location</label>
                            
                            <input type="text" name="listing[location]" placeholder="ex.Ronawala" class="form-control" required> 
                            <div class="invalid-feedback">
                                Needed!
                              </div>
                        </div>


                        <button class="btn btn-dark add-btn mb-2" type="Submit">Submit</button>
                        
                    </div>
                </form>
                <br><br>
            </div>
        </div>

    </body>