body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    background-color: antiquewhite;

    display:flex;
    flex-direction: column;
    min-height:  100vh;
}

.container{
    flex:1;
}

.navbar{
    height:5rem;
    background-color:antiquewhite;
}

.fa-house-flag{
    color: rgba(172, 1, 1, 0.829) !important;
    font-size:1.5rem;
}

.nav-link{
    color:#222222 !important ;
}

/* Footer */

.f-info-links a {
    text-decoration: none;
    color:#222222;
}


.f-info-links a:hover {
    text-decoration: underline;
    
}

.f-info{
    height:8rem;
    background-color: #ebebeb;
    display:flex;
    justify-content: center;     
    flex-wrap: wrap;
    align-items: space-evenly;
    text-align: center;
}

.f-info-socials, .f-info-links, .f-info-private{
    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.f-info-socials i {
    font-size: 1.2rem;
    margin: 0 0.5rem 0 0.5rem  ;

}

.card{
    border:none !important;
    margin-bottom: 1rem !important;
}

.card-img-top{
    border-radius: 1rem  !important;
    width:100%  !important;
    object-fit:cover  !important;
    
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration:none;
}

/* card effect */

.card-img-overlay{
    opacity:0;
    
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
    
}

/* New Page */
.add-btn{
    background-color:rgb(252, 151, 167) !important;
    border: none !important;
}

.edit-btn{
    background-color:rgb(252, 151, 167) !important;
    border: none !important;
}

.show-img{
    height:30vh;
}

.btns{
    display:flex;
}

.edit-listing{
    background-color: red !important;
    border:none !important;
}

input[type="number"]{
    appearance: none !important;
    -webkit-appearance: none !important;
}